
@font-face {
    font-family: 'poiret-one';
    src: url(../font/Poiret.ttf);
}

body
{
	font-family: "poiret-one", arial;
	background-image: url(../images/background.png);}
.clearfix
{line-height: 0px;}

#container
{
	width: 100%;
}

#logo
{

	display: block;
	width: 45%;
	margin-left: 21%;
	margin-top: 60px;
	float:left;
}

#logo img
{
	width: 350px;

}

#signup
{
	display: block;
	width: 28%;
	float:left;
	margin-right: 5%;
	margin-top: 30px;

}


#signup input 
{
	display: block;
	width: 100%;
	float:left;
	font-size: 20px;
	margin-top: 10px;
	
	

}
h1
{	width:350px;
	font-size: 40px;
	text-align: center;
	margin-top: 10px;
	color:white;

}

h2

{
	font-size: 25px;
	text-align: center;
	margin-top: 10px;
	color:white;
}

/* LOGIN */
#login
{
	
	background-color: white;
	width:100%;
	height:55px;

}
#login img
{
	width: 50px;
	float:left;
	margin-top:2.5px;
	margin-left: 30px;
}
#login form
{
	display:block;
	margin-left: 600px;

}
.user
{
	display:block;
	color:#00728e;
	font-size:25px;
	padding-top: 10px;
	float:right;
	padding-right: 250px;

}
#login label
{
	display:block;
	float:left;
	margin-left:15px;
	color:#00728e;
	font-size:25px;
	margin-top: 10px;

	
}

#login input 
{
	display: block;
	float:left;
	font-size: 15pxpx;
	margin-top: 12.5px;	


}
.btn
{
		color:white;
		background-color: #00728e;
		font-family: "poiret one";
		font-size: 15px;	
		float:left;
}
/*  CHOOSE RESTAURANT   */
#chooserestaurant
{
	margin-top: 200px;
	display: block;
	width:350px;;
	margin-left: auto;
	margin-right: auto;



}


#chooserestaurant label
{
	
	font-size: 35px;
	text-align: center;
	margin-bottom: 20px;
	color:white;
}

.select
{
		display:block;
		width:100%;
		color:white;
		background-color: #00728e;
		font-family: "poiret one";
		font-size: 20px;	
		float:left;
}
.selectnav
{
	display:block;
		width:200px;
}
.restaurantinput
{
	display:block;
	float:left;
	width:90%;
}

.restaurantbtn
{
		
		display:block;
		color:white;
		background-color: #00728e;
		font-family: "poiret one";
		font-size: 15px;	
		float:left;
}

.voegtoebtn
{
		
		display:block;
		color: #00728e;
		font-family: "poiret one";
		font-size: 25px;	
		float:left;
}
#addrestaurant
{


	display: block;
	width:350px;;
	margin-left: auto;
	margin-right: auto;
}


#addrestaurant input
{
	

	display:block;
	width:100%;
	float:left;
	
}

/* SUBNAV!!!! */
#subnav 
{
	display:block;
	width: 20%;
	float: left;
}


#subnav li
{
	display: block;
	width: 200px;
	font-size:30px;
	color:white;
	background-color: #00728e;
	padding-top:15px;
	padding-right: 15px;
	text-align:center;

}

#subnav a:link, a:visited, a:hover, a:active
{
	color:white;
	text-decoration: none;
}

#subnav a:hover
{
	background-color: white ;
	color:#00728e;
}
/*RESERVATIE.php */



#reservationwrapper
{
	display: block;
	width:80%;
	margin-left: auto;
	margin-right: auto;
	float:left;
}


#addreservation
{


	display: block;
	width:350px;;
	margin-left: auto;
	margin-right: auto;
}


#addreservation input
{
	

	display:block;
	width:100%;
	float:left;
	
}

#addreservation label
{
	

	display:block;
	width:100%;
	float:left;
}


#reservations
{

	display: none;
	width:600px;
	margin-left: auto;
	margin-right: auto;
	float:left;
}

#listreservations
{

	margin-top:10px;
	display: block;
	width:600px;
	margin-left: auto;
	margin-right: auto;
}

#listreservations th 
{
	
	padding-left: 20px;
	font-size:25px;
	text-align: center;


}

#listreservations tr 
{

	text-align: center;
	margin-top: 15px;
}
/*TAFELINDELING */
#addtable
{


	display: block;
	width:350px;;
	margin-left: auto;
	margin-right: auto;
}



	#addtable input
{
	

	
	width:100%;
	float:left;
	
}

#addtable label
{
	

	
	width:100%;
	float:left;
}

#tableoverview
{

	display: none;
	width:350px;;
	margin-left: auto;
	margin-right: auto;
}

#restaurantId{
	display:none;
}